span#inline-yellow {
    display:inline;
    padding:.2em .6em .3em;
    font-size:80%;
    font-weight:bold;
    line-height:1;
    color:#fff;
    text-align:center;
    white-space:nowrap;
    vertical-align:baseline;
    border-radius:0;
    background-color: #f0ad4e;
}
span#inline-red {
    display:inline;
    padding:.2em .6em .3em;
    font-size:80%;
    font-weight:bold;
    line-height:1;
    color:#fff;
    text-align:center;
    white-space:nowrap;
    vertical-align:baseline;
    border-radius:0;
    background-color: #EB6666;
}
span#inline-green {
    display:inline;
    padding:.2em .6em .3em;
    font-size:80%;
    font-weight:bold;
    line-height:1;
    color:#fff;
    text-align:center;
    white-space:nowrap;
    vertical-align:baseline;
    border-radius:0;
    background-color: #5cb85c;
}
span#inline-blue {
    display:inline;
    padding:.2em .6em .3em;
    font-size:80%;
    font-weight:bold;
    line-height:1;
    color:#fff;
    text-align:center;
    white-space:nowrap;
    vertical-align:baseline;
    border-radius:0;
    background-color: #2780e3;
}
span#inline-purple {
    display:inline;
    padding:.2em .6em .3em;
    font-size:80%;
    font-weight:bold;
    line-height:1;
    color:#fff;
    text-align:center;
    white-space:nowrap;
    vertical-align:baseline;
    border-radius:0;
    background-color: #9954bb;
}

span#spoiler {
    display: inline;
    color: black;
    text-align:center;
    white-space:nowrap;
    vertical-align:baseline;
    border-radius:0;
    background-color: black;
}
span#spoiler:hover{
    color: white;
}

a#download {
    display: inline-block;
    padding: 0 10px;
    color: #000;
    background: transparent;
    border: 2px solid #000;
    border-radius: 2px;
    transition: all .5s ease;
    font-weight: bold;
}

// post
.post-block:first-of-type {
    padding-top: 20px;
    margin-top: 5px;
}
.post-block {
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    background-color: var(--content-bg-color);
    margin-bottom: 20px;
    padding: 20px;
}

.post-body {
    margin-bottom: 20px;
}

.post-eof {
    display: none;
}

.post-button .btn {
    padding: 0 16px;
}

blockquote {
    border-left: 6px solid $blue+80%;
    background-color: var(--blk-bg-color);
}
// header(sidebar)
.header-inner {
    border-radius: $border-radius;
    overflow: hidden;
    margin-top: 5px;
}

.main-inner {
    padding: 0;
    background: transparent;
    box-shadow: initial;
}

.sidebar-inner {
    overflow: hidden;
}

if (hexo-config('back2top.sidebar')) {
    .back-to-top {
        background: var(--b2t-bg-color);
    }
}


// comments
.comments {
    border-radius: $border-radius;
    background-color: var(--content-bg-color);
    box-shadow: $box-shadow;
    padding: 10px 20px;
}

.v[data-class=v] .vwrap {
    border-radius: $border-radius;
    border-width: 2px!important;
    border-style: dashed !important;
}

.comments .vheader .vnick {
    border-right: 1px dashed #dedede!important;
}

.comments .vempty {
    visibility: hidden;
    height: 0;
}

.comments .vcards .vcard {
	padding: 15px 20px 0 20px;
	border-radius: 10px;
	margin-bottom: 15px;
	box-shadow: 0 0 4px 1px rgba(0, 0, 0, .12);
	transition: all .3s
}

.comments .vcards .vcard:hover {
	box-shadow: 0 0 8px 3px rgba(0, 0, 0, .12);
}

.comments .vcards .vcard .vh .vcard {
	border: none;
	box-shadow: none;
}

.vrow .vbtn {
    border-radius: 8px!important;
}